$blue: #A4AFFD;
$orange: #F87060;
$gray-100: #efefef;

.display-1 {
  -webkit-text-stroke-width: 0.035em;
  -webkit-text-stroke-color: black;
}

a {
  font-size: 0.9rem;
}

p {
  font-size: 0.9rem;
}

@import "node_modules/bootstrap/scss/bootstrap";
@import "themes.scss";
