
.column-bg-0 {
  background-color: #19171D;
}

.menu-bg-hover-0 {
  background-color: #121016;
}

.active-item-0 {
  background-color: #5B415B;
}

.active-item-text-0 {
  color: #FFFFFF;
}

.hover-item-0 {
  background-color: #27242C;
}

.text-color-0 { 
  color: #D1D2D3 !important;
}

.text-color-0:hover { 
  color: #D1D2D3;
}