
// Dark vs Light Theme Changes

.bg-dark {
  background-color: #1d1c1d !important;
}

.bg-light {
  background-color: #ffffff !important;
}

.text-color-dark { 
  color: #D1D2D3 !important;
}

.text-color-dark:hover { 
  color: #D1D2D3;
}

.text-color-light { 
  color: #111111 !important;
}

.text-color-light:hover { 
  color: #111111;
}

// Theme 0: Protanopia & Deuteranopia

.column-bg-0 {
  background-color: #19171D;
}

.menu-bg-hover-0 {
  background-color: #121016;
}

.active-item-0 {
  background-color: #5B415B;
}

.active-item-0:hover {
  background-color: #5B415B;
}

.active-item-text-0 {
  color: #FFFFFF;
}

.active-item-text-0:hover {
  color: #FFFFFF;
}

.hover-item-0:hover {
  background-color: #27242C;
}

.menu-text-0 { 
  color: #D1D2D3 !important;
}

// Theme 1: Work Hard

.column-bg-1 {
  background-color: #222629;
}

.menu-bg-hover-1 {
  background-color: #121518;
}

.active-item-1 {
  background-color: #D39B46;
}

.active-item-1:hover {
  background-color: #D39B46;
}

.active-item-text-1 {
  color: #FFFFFF;
}

.active-item-text-1:hover {
  color: #FFFFFF;
}

.hover-item-1:hover {
  background-color: #2C3136;
}

.menu-text-1 { 
  color: #D1D2D3 !important;
}