
// Theme 0: Protanopia & Deuteranopia

.column-bg-0 {
  background-color: #19171D;
}

.menu-bg-hover-0 {
  background-color: #121016;
}

.active-item-0 {
  background-color: #5B415B;
}

.active-item-0:hover {
  background-color: #5B415B;
}

.active-item-text-0 {
  color: #FFFFFF;
}

.active-item-text-0:hover {
  color: #FFFFFF;
}

.hover-item-0:hover {
  background-color: #27242C;
}

.text-color-0 { 
  color: #D1D2D3 !important;
}

.text-color-0:hover { 
  color: #D1D2D3;
}

.bg-0 {
  background-color: #1d1c1d;
}

// Theme 1: Work Hard

.column-bg-1 {
  background-color: #222629;
}

.menu-bg-hover-1 {
  background-color: #121518;
}

.active-item-1 {
  background-color: #D39B46;
}

.active-item-1:hover {
  background-color: #D39B46;
}

.active-item-text-1 {
  color: #FFFFFF;
}

.active-item-text-1:hover {
  color: #FFFFFF;
}

.hover-item-1:hover {
  background-color: #2C3136;
}

.text-color-1 { 
  color: #D1D2D3 !important;
}

.text-color-1:hover { 
  color: #D1D2D3;
}

.bg-1 {
  background-color: #1d1c1d;
}